* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 700px;
  max-height: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.squares {
  flex-grow: 1;
}
